@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-toastify/dist/ReactToastify.css";

/* Remove number input spinner (cross-browser) */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* CSS Variables for light mode */
:root {
  --primary: #2279dd;
  --secondary: #1e6bc2;
  --accent: #73267e;
  --background: #f7f8fa;
  --bgAccent: #f0f5fa;
  --surface: #e6f0fa;
  --text: #333333;
  --highlight: #f5a623;
  --error: #d0021b;
  --success: #26a637;
  --tablehead: #9ca3af;
  /* --hovertext: #000000; */
}

/* CSS Variables for dark mode */
html.dark {
  --primary: #2279dd;
  --secondary: #4f94e3;
  --accent: #9f34ad;
  --background: #1e1e1e;
  --bgAccent: #1a1a1a;
  --surface: #181818;
  --text: #c5c5c5;
  --highlight: #ff9500;
  --error: #e74c3c;
  --success: #26a637;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Print styles */
@media print {
  body {
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .print\:hidden {
    display: none !important;
  }

  .shadow-md {
    box-shadow: none !important;
  }

  .rounded-lg {
    border-radius: 0 !important;
  }

  .p-4,
  .p-6,
  .p-8 {
    padding: 0.5rem !important;
  }

  input {
    padding: 0 !important;
  }

  .overflow-x-auto {
    overflow-x: visible !important;
  }
}
